.main-container{
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    background-image: url("../../assets/images/background.png");
    background-size: cover;
}


.group-container{
    display: flex;
}